/sb-admin-angular/npm-debug.log
/sb-admin-angular/bower_components
/sb-admin-angular/.bowerrc
/BATDemo/packages/Microsoft.Bcl.1.1.10
/BATDemo/packages/Microsoft.Bcl.Build.1.0.21
/BATDemo/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.3
/BATDemo/packages/Microsoft.Net.Http.2.2.29
/BATDemo/packages/Microsoft.SqlServer.Compact.4.0.8876.1
/BATDemo/packages/Microsoft.Web.Infrastructure.1.0.0.0
/BATDemo/packages/Modernizr.2.8.3
/BATDemo/packages/Newtonsoft.Json.9.0.1
/BATDemo/packages/NUnit.3.5.0
/BATDemo/packages/Selenium.Support.3.0.0
/BATDemo/packages/Selenium.WebDriver.3.0.0
/BATDemo/packages/Selenium.WebDriver.ChromeDriver.2.25.0.0
/BATDemo/packages/WebGrease.1.6.0
/BATDemo/packages/Antlr.3.5.0.2
/BATDemo/packages/DotNetOpenAuth.AspNet.4.3.4.13329
/BATDemo/packages/DotNetOpenAuth.Core.4.3.4.13329
/BATDemo/packages/DotNetOpenAuth.OAuth.Consumer.4.3.4.13329
/BATDemo/packages/DotNetOpenAuth.OAuth.Core.4.3.4.13329
/BATDemo/packages/DotNetOpenAuth.OpenId.Core.4.3.4.13329
/BATDemo/packages/DotNetOpenAuth.OpenId.RelyingParty.4.3.4.13329
/BATDemo/packages/jQuery.3.1.1
/BATDemo/packages/jQuery.UI.Combined.1.12.1
/BATDemo/packages/jQuery.Validation.1.15.1
/BATDemo/packages/knockoutjs.3.4.0
/BATDemo/packages/Microsoft.AspNet.Razor.3.2.3
/BATDemo/packages/Microsoft.AspNet.Web.Optimization.1.1.3
/BATDemo/packages/Microsoft.AspNet.WebPages.3.2.3
/BATDemo/packages/Microsoft.AspNet.WebPages.Data.3.2.3
/BATDemo/packages/Microsoft.AspNet.WebPages.OAuth.3.2.3
/BATDemo/packages/Microsoft.AspNet.WebPages.WebData.3.2.3
/BATDemo/packages/Selenium.WebDriver.IEDriver.3.0.0.0
/BATDemo/packages
